<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="https://outlook.live.com/mail/inbox/id/AQQkADAwATY3ZmYAZS0wNWZmAC00MTBkLTAwAi0wMAoAEABj4wWxJ%2FgcSbWEsNj81DHL">
                    <synchronousReceive />
                    <enableWebScript />
                    <webHttp />
                    <callbackDebug />
                    <Microsoft.VisualStudio.Diagnostics.ServiceModelSink.Behavior />
                    <dataContractSerializer />
                    <dispatcherSynchronization />
                    <endpointDiscovery />
                    <transactedBatching />
                </behavior>
                <behavior name="C:\Users\Babby1234\OneDrive\App_Browsers">
                    <Microsoft.VisualStudio.Diagnostics.ServiceModelSink.Behavior />
                    <callbackTimeouts />
                    <callbackDebug />
                    <enableWebScript />
                    <dispatcherSynchronization />
                    <dataContractSerializer />
                    <clientCredentials />
                    <webHttp />
                    <synchronousReceive />
                    <transactedBatching />
                    <endpointDiscovery />
                    <soapProcessing />
                    <clientVia />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="https://watch.appfollow.io/apps/untitled-collection/integrations/120317#add">
                    <useRequestHeadersForMetadataAddress />
                    <dataContractSerializer />
                    <serviceAuthenticationManager />
                    <bufferedReceive />
                    <Microsoft.VisualStudio.Diagnostics.ServiceModelSink.Behavior />
                    <etwTracking />
                    <serviceMetadata />
                    <sqlWorkflowInstanceStore />
                    <workflowUnhandledException />
                    <workflowIdle />
                    <sendMessageChannelCache />
                    <persistenceProvider type="" />
                    <serviceAuthorization />
                    <serviceSecurityAudit />
                    <serviceDebug />
                    <workflowInstanceManagement />
                    <workflowRuntime />
                    <serviceThrottling />
                    <routing routeOnHeadersOnly="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <msmqIntegrationBinding>
                <binding name="shoppingandmore34@hotmail.com" receiveErrorHandling="Drop"
                    receiveRetryCount="10" useSourceJournal="true" useMsmqTracing="true">
                    <security>
                        <transport msmqAuthenticationMode="WindowsDomain" msmqProtectionLevel="EncryptAndSign"
                            msmqSecureHashAlgorithm="Sha256" />
                    </security>
                </binding>
            </msmqIntegrationBinding>
        </bindings>
        <client>
            <metadata>
                <wsdlImporters>
                    <extension type="C:\OneDriveTemp\S-1-5-21-3439644529-4045612539-929513401-1001" />
                    <extension type="C:\Users\Babby1234\OneDrive\App_Browsers" />
                    <extension type="AspNetMMCExt.resources, Version=2.0.0.0, Culture=de, PublicKeyToken=b03f5f7f11d50a3a" />
                    <extension type="C:\" />
                    <extension type="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
                    <extension type="AddInUtil.resources, Version=4.0.0.0, Culture=de, PublicKeyToken=b77a5c561934e089" />
                    <extension type="aspnet_regbrowsers.resources, Version=4.0.0.0, Culture=de, PublicKeyToken=b03f5f7f11d50a3a" />
                </wsdlImporters>
            </metadata>
        </client>
        <diagnostics performanceCounters="Default">
            <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true"
                logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
            <endToEndTracing propagateActivity="true" activityTracing="true"
                messageFlowTracing="true" />
        </diagnostics>
        <extensions>
            <behaviorExtensions>
                <add name="NewExtensionName" type="https://outlook.live.com/mail/inbox/id/AQQkADAwATY3ZmYAZS0wNWZmAC00MTBkLTAwAi0wMAoAEAAaVJ%2BoIcyJQItUmyqj7Ai9&#xA;" />
                <add name="auto" type="&#xA;C:\Users\Babby1234\OneDrive" />
            </behaviorExtensions>
        </extensions>
        <protocolMapping>
            <remove scheme="http" />
            <add scheme="http://Cashbackdeals.de" binding="webHttpBinding" />
            <add scheme="https://www.cashbackdeals.de/user/cashboost.php"
                binding="netTcpContextBinding" />
            <add scheme="https://www.cashbackdeals.de/u/4819" binding="udpBinding" />
        </protocolMapping>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true">
            <baseAddressPrefixFilters>
                <add prefix="C:\Users\Babby1234\OneDrive" />
                <add prefix="https://www.cashbackdeals.de/user/cashboost.php" />
                <add prefix="C:\Users\Babby1234\OneDrive\App_Browsers" />
                <add prefix="https://watch.appfollow.io/apps/untitled-collection/integrations/120317#add" />
            </baseAddressPrefixFilters>
            <serviceActivations>
                <add relativeAddress="https://www.cashbackdeals.de/u/481925"
                    service="publisher" />
                <add relativeAddress="https://watch.appfollow.io/apps/untitled-collection/integrations/120317#add"
                    service="https://watch.appfollow.io/apps/untitled-collection/integrations/120317#add" />
            </serviceActivations>
        </serviceHostingEnvironment>
    </system.serviceModel>
</configuration>